.CalculoProvisoes {
    background-color: #85a4cf;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 400px;
    width: 700px;
    border-radius: 30px;
}
.titulo2 {
    color: #54749e;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 30px;
}


.icons-pesca {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}
.pesca-icons {
    color: #54749e;
    width: 300px;
    height: 300px;
}